<!DOCTYPE html>
<html>
  <head>
    <title>Geoviz</title>
    <style type="text/css">
#map {
  height: 95vh;
  width: 75%;
  float: right;
  justify-content: center;
}
    </style>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      initMap = function() {
        const origin = { lat: 36.9881, lng: -122.0582 };

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: origin,
        });

        var markers = {};

        map.addListener("bounds_changed", () => {
          var data = map.getBounds().toJSON();
          console.log(data);
          $.ajax({
            url: '/data',
            dataType: 'json',
            type: 'post',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(res) {
              // Make new markers if they aren't already present.
              for (var sample in res) {
                var lat = res[sample]["lat"];
                var lng = res[sample]["lng"];
                var latlng = new google.maps.LatLng({lat: lat, lng: lng});

                if (!(sample in markers)) {
                  var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                  });
                  markers[sample] = marker;
                }
              }

              // Delete any markers that aren't visible anymore.
              for (var sample in markers) {
                var marker = markers[sample];
                if (!(map.getBounds().contains(marker.getPosition()))) {
                  marker.setMap(null);
                  delete markers[sample];
                }
              }
            }
          })
        });
      };
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
      async
      ></script>
  </body>
</html>
