<!DOCTYPE html>
<html>
  <head>
    <title>Geoviz</title>
    <style type="text/css">
#tree {
  float: left;
  height: 50vh;
}
    </style>
    <style type="text/css">
#map {
  height: 98vh;
}
    </style>
    <link rel="stylesheet" href="http://tntvis.github.io/tnt.tree/build/tnt.tree.css" type="text/css"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://tntvis.github.io/tnt.tree/build/tnt.tree.min.js" charset="utf-8"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
      initMap = function() {
        const origin = { lat: 39.8283, lng: -98.5795 };

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 5,
          center: origin,
          streetViewControl: false,
        });

        var markers = {};

        var tree_vis = tnt.tree()
              .layout (tnt.tree.layout.vertical()
                  .width(650)
                  .scale(false)
              )
              .node_display (tnt.tree.node_display.circle()
                  .size(5)
                  .fill(function (node) {
                      if (node.is_leaf()) {
                          return "blue";
                      }
                      return "green";
                  })
              )
              .label (tnt.tree.label.text()
                  .height(30)
                  .text (function (node) {
                      return node.property("name");
                  })
              );

        var rendered = false;

        map.addListener("bounds_changed", () => {
          var data = map.getBounds().toJSON();
          $.ajax({
            url: '/data',
            dataType: 'json',
            type: 'post',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(res) {
              // Make new markers if they aren't already present.
              for (var sample in res) {
                var lat = res[sample]["lat"];
                var lng = res[sample]["lng"];
                var latlng = new google.maps.LatLng({lat: lat, lng: lng});

                if (!(sample in markers)) {
                  markers[sample] = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                  });
                }
              }

              // Delete any markers that aren't visible anymore.
              for (var sample in markers) {
                if (!(map.getBounds().contains(markers[sample].getPosition()))) {
                  markers[sample].setMap(null);
                  delete markers[sample];
                }
              }

              // Update the Newick tree.
              tree_vis.data(tnt.tree.parse_newick(res["newick"]));

              // We render the tree once. Each response after that is an update.
              if (!(rendered)) {
                tree_vis(document.getElementById("tree"));
                rendered = true;
              } else {
                tree_vis.update();
              }
            }
          })
        });
      };


    </script>
  </head>
  <body>
    <div>
      <div id="tree"></div>
      <div id="map"></div>
    <div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script>
          </script>
  </body>
</html>
